body {
    background-color: #FFE9E9;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

input[type="checkbox"]:checked {
    accent-color: #2c2c2c;
}

#main-div {
    margin-left: 10%;
    margin-right: 10%;
}

#account-handling-div {
    text-align: right;
}


/* modals */
.modal {
    display: none; 
    position: fixed;  
    z-index: 1; 
    padding-top: 200px; 
    padding-left: 20px; 
    padding-right: 20px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#sign-in-modal {
    padding-right: 10%;
    padding-left: 10%;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 80%;
}

#email-pswd {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

#email-input {
    margin-bottom: 10px;
}

#login-error {
    color: red;
    display: none;
    text-align: center;
}

#modal-close {
    color: #aaaaaa;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* buttons */
.buttons {
    background-color: #2c2c2c;
    color: #f5f5f5;
    font-size: 20px;
}

.buttons:hover {
    background-color: #1a1a1a;
    color: #f5f5f5;
}

.buttons:active {
    background-color: #2a3b4c;;
}

#modal-buttons {
    text-align: center;
    margin-top: 10px;
}

#sign-up-button {
    margin-right: 30px;
}

/* add task */

.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-wrapper input {
    padding-right: 40px;
}

.input-wrapper .icon { /* plus icon for new task*/
    position: absolute;
    top: 25%;
    left: 85%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#input-span {
    width: 200px;
}

#new-task-input {
    width: 200px;
    padding-left: 10px;
    border-radius: 10px;
}

/* tasks */
.task-span {
    display: block;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
}

#incomplete-div label, #complete-div label {
    margin-left: 1%;
}

.icon {
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.icon:hover {
    color: #565656;
}

.task-icon {
    float: right;
    margin-left: 2%;
}

.status-label {
    text-align: center;
    color: #767676;
    font-size: 20px;
}

#new-task-input {
    font-size: 20px;
}